extends layout

block content
  h1= title

  form(method='POST' action='')
    div(class='form-floating mb-4')
      input#title.form-control(type='text', placeholder='Name of book' name='title' required='true' value=(undefined===book ? '' : book.title) )
      label(for='title') Title
    div(class='form-floating mb-4')
      select#author.form-select(type='select', placeholder='Select author' name='author' required='true' )
        - authors.sort(function(a, b) {let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for author in authors
          if book
            option(value=author._id selected=(author._id.toString()===book.author._id.toString() ? 'selected' : false) ) #{author.name}
          else
            option(value=author._id) #{author.name}
      label(for='author') Author      
    div(class='form-floating mb-4')
      textarea#summary(class='form-control' style='height: 200px' type='textarea', placeholder='Summary' name='summary' required='true') #{undefined===book ? '' : book.summary}
      label(for='summary') Summary
    div(class='form-floating mb-4')
      input#isbn.form-control(type='text', placeholder='ISBN13' name='isbn' value=(undefined===book ? '' : book.isbn) required='true')
      label(for='isbn') ISBN
    div(class='form-floating mb-4')
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;' class='btn-group' role='group' arial-label='Genre checkbox toggle button group')
            input(class='btn-check' type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id class='btn btn-outline-primary') #{genre.name}
    button(class='btn btn-primary btn-lg' type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
