extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following record counts:

  ul(class='list-group')
    li(class='list-group-item') #[strong Books:] !{book_count}
    li(class='list-group-item') #[strong Copies:] !{book_instance_count}
    li(class='list-group-item') #[strong Copies available:] !{book_instance_available_count}
    li(class='list-group-item') #[strong Authors:] !{author_count}
    li(class='list-group-item') #[strong Genres:] !{genre_count}
